[submodule "libevent"]
	path = libevent
	url = git@github.com:libevent/libevent.git
[submodule "http-parser"]
	path = http-parser
	url = git@github.com:joyent/http-parser.git
[submodule "pank7-lib"]
	path = pank7-lib
	url = git@github.com:pank7/pank7-lib.git
[submodule "rebar"]
	path = rebar
	url = git@github.com:rebar/rebar.git
[submodule "erlang.mk"]
	path = erlang.mk
	url = git@github.com:ninenines/erlang.mk.git
